body {
  margin: 0;
  padding: 0;
  font-size: 28px;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

//错误弹框
.common-tip-msg {
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;

  .tip-box {
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
  }
}

.common-inside-classify {
  width: 230px;
  background: #eeeeee;
  box-shadow: 5px 0 10px -5px #888888, -5px 0 10px -5px #888888;

  .title {
    width: 230px;
    height: 62px;
    position: relative;
    overflow: hidden;

    .kua {
      border-top: 62px solid #c12219;
      border-left: 500px solid transparent;
      border-right: 500px solid transparent;
      height: 0;
      width: 0;
      overflow: hidden;
      position: absolute;
      left: -390px;

    }

    p {
      width: 230px;
      font-size: 18px;
      color: white;
      position: absolute;
      line-height: 62px;
      text-align: center;
    }

    margin-bottom: 10px;
  }

  li {
    font-size: 14px;
    cursor: pointer;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px 10px;

    &:hover {
      // background: rgba(232, 20, 27, 1);
      color: #c12219;
    }
  }

  .active {
    // background: rgba(232, 20, 27, 1);
    color: #c12219;
  }
}